.FormData {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  top: 1rem;
  padding: 1rem 1rem 0 0;
}

.FormData ul {
  position: absolute;
  top: 0;
  bottom: 4.5rem;
  right: 1rem;
  list-style: none;
  margin: 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  overflow: scroll;
}

.FormData ul li {
  margin: 0 0 1rem 0;
}

.FormData ul li h4 {
  font-size: 0.8rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.25rem;
  margin: 0 0 0.5rem 0;
  color: #999;
}

.FormData ul li p {
  font-size: 0.9rem;
  margin: 0 0 0.25rem 0;
}

.FormData ul li .data-error {
  color: #FE2712;
  font-size: 0.75rem;
}

.FormData button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  appearance: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  outline: none;
  border-radius: 3px;
}

.FormData button svg {
  display: block;
}
