.DatePicker {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
}

.DatePicker th {
  display: inline-block;
  width: 35px;
  margin: 3px 2px;
}

.DatePicker td {
  display: inline-block;
  background: #fff;
  color: #666;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 17px;
  margin: 3px 2px;
  font-size: 0.85rem;
}

.DatePicker .Day:hover {
  background: #e1e1e1;
  cursor: pointer;
}

.DatePicker {
  display: inline-block;
  border: 1px solid #ccc;
}

.DatePicker .Day.Today {
  background: #f1f1f1;
}

.DatePicker .Day.Weekend {
  color: #bbb;
}

.DatePicker .Day.Selected {
  background: rgba(0,0,0,0.05);
  box-shadow: 0 0 0 1px #999;
  color: #444;
}

.DatePicker .Day.BeforeMin,
.DatePicker .Day.AfterMax {
  color: #bbb;
}

.DatePicker .Day.BeforeMin:hover,
.DatePicker .Day.AfterMax:hover {
  background: #fff;
  cursor: not-allowed;
}

/* month nav */

.MonthNav {
  position: relative;
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 30px;
}

.MonthNav .Prev,
.MonthNav .Next {
  position: absolute;
  top: 0;
  appearance: none;
  border: 1px solid #bbb;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  outline: none;
}

.MonthNav .Prev:focus,
.MonthNav .Next:focus {
  box-shadow: 0 0 0 1px #bbb;
}

.MonthNav .Prev {
  left: 0.25rem;
}

.MonthNav .Next {
  right: 0.25rem;
}
