.Modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  animation-name: fillOut;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.Modal .ModalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0.75rem;
  background: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.25);
}

.Modal .ModalBody button {
  position: absolute;
  top: -15px;
  right: -15px;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}

.Modal .ModalBody button svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

@keyframes fillOut {
  0% {
    top: 50%;
    left: 50%;
    width: 2%;
    height: 2%;
    opacity: 0;
  }
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
