.btn {
  display: inline-block;
  appearance: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font: inherit;
  color: #444;
  text-decoration: none;
  line-height: 30px;
  border-radius: 3px;
  outline: none;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn.disabled:hover {
  cursor: not-allowed;
}

.next-btn svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

#spinLoad {
  animation: spin 1.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
