.ToggleLabel,
.RadioLabel {
  position: relative;
  display: block;
  line-height: 34px;
  padding-left: 40px;
  margin-bottom: 0.75rem;
}

.ToggleLabel input,
.RadioLabel input {
  position: absolute;
  opacity: 0;
}

.ToggleLabel {
  padding-left: 66px;
}

.ToggleLabel:before,
.RadioLabel:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 16px;
}

.ToggleLabel:before {
  width: 56px;
}

.ToggleLabel span,
.RadioLabel span {
  display: inline-block;
  line-height: 30px;
}

.ToggleLabel:after,
.RadioLabel:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
}

.RadioLabel:after {
  transform: scale(0.25);
  transition: transform 191ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.RadioLabel.checked:after {
  background: #ccc;
  transform: scale(1);
}

.ToggleLabel:after {
  transition: left 191ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.ToggleLabel.checked:after {
  left: 32px;
}

/* active states */

.field.active .RadioLabel.focused:before {
  border-color: #999;
}

.field.active .ToggleLabel:before {
  border-color: #999;
}

/* toggle error */

.field.toggle .field-error {
  margin-bottom: 0.75rem;
}

/* visual licence date */

.VisualLicenceDate {
  text-align: center;
}

.VisualLicenceDate:before {
  content: '';
  position: relative;
  top: 20px;
  display: block;
  border-top: 1px solid #e1e1e1;
}


.VisualLicenceDate > span {
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  background: #fff;
  padding-right: 5px;
  font-size: 0.75rem;
  line-height: 36px;
  color: #999;
}

.VisualLicenceDate button {
  position: relative;
  z-index: 1;
  appearance: none;
  display: inline-block;
  border: 1px solid #ccc;
  line-height: 36px;
  border-radius: 3px;
  padding: 0 10px 0 0;
  outline: none;
}

.VisualLicenceDate button svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 20px;
}

.VisualLicenceDate button svg path {
  fill: #999;
}

.VisualLicenceDate button:hover {
  cursor: pointer;
}

.VisualLicenceDate button:hover svg path {
  fill: green;
}

.VisualLicenceDate button span {
  display: inline-block;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
  margin-right: 20px;
  font-weight: 700;
}

.VisualLicenceDate button strong {
  display: inline-block;
  width: 90px;
}
