form {
  width: 50%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.fieldset-label {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #003388;
}

input[type=text],
input[type=email],
input[type=date],
select {
  appearance: none;
  border: 1px solid #e1e1e1;
  background: #fff;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: inherit;
  font-weight: inherit;
  line-height: 30px;
  outline: none;
}

.ToggleGroup {
  padding-bottom: 1rem;
}
